<template>
    <require from="./user-password.css" as="scoped"></require>

    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel login-card">
            <form class="login-form" submit.delegate="login()">
                <div class="row">
                    <div class="input-field col s12 center">
                        <!--<img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">-->
                        <p class="center login-form-text">RAZRlab</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input id="username" type="text" value.bind='model.loginName' name="loginName" placeholder='Username' required>
                        <!--<label for="username" class="center-align">Username</label>-->
                        <!--<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>-->
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" type="password" value.bind='model.password' name="password" placeholder='Password' required>
                        <!--<label for="password">Password</label>-->
                        <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12  login-text">
                        <input type="checkbox" id="remember-me" />
                        <label for="remember-me">Remember me</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <!--<a class="btn waves-effect waves-light col s12" >Login</a>-->
                        <button disabled.bind='loading' class="btn btn-primary btn waves-effect waves-light col s12">${loginBtnText}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <!--<p class="margin medium-small"><a href="page-register.html">Register Now!</a></p>-->
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <!--<p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>-->
                    </div>
                </div>

            </form>
        </div>
    </div>
</template>